WinFormApp/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8746/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfDemo" />
  <xs:element name="GetHouseName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfDemo" minOccurs="0" name="house" nillable="true" type="q1:House" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHouseNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfDemo" minOccurs="0" name="GetHouseNameResult" nillable="true" type="q2:House" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>